<p id="notice"><%= notice %></p>

<h1>Lixodones</h1>

<table>
  <thead>
    <tr>
      <th>Residente</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lixodones.each do |lixodone| %>
      <tr>
        <td><%= lixodone.residente_id %></td>
        <td><%= lixodone.data %></td>
        <td><%= link_to 'Show', lixodone %></td>
        <td><%= link_to 'Edit', edit_lixodone_path(lixodone) %></td>
        <td><%= link_to 'Destroy', lixodone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lixodone', new_lixodone_path %>
