<%= form_for(lixotodo) do |f| %>
  <% if lixotodo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lixotodo.errors.count, "error") %> prohibited this lixotodo from being saved:</h2>

      <ul>
      <% lixotodo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :residente_id %>
    <%= f.number_field :residente_id %>
  </div>

  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :data %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
