<%= form_for(residente) do |f| %>
    <div class="form-group" style="border-bottom: double 1px #dddddd;">
      <div class="col-sm-10">
        <h3>Adicionar Residente</h3>
      </div>
    </div>
  <% if residente.errors.any? %>
      <ul>
      <% residente.errors.full_messages.each do |message| %>
            <div class="row">
              <div class="col-lg-12">
                <div class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <i class="fa fa-info-circle"></i> <%= message %>
                </div>
              </div>
            </div>
      <% end %>
      </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :matricula %>
    <div class="col-sm-10">
      <%= f.text_field :matricula %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :nome %>
    <div class="col-sm-10">
      <%= f.text_field :nome %>
    </div>
  </div>

  <div class="form-group">
    <% @cursos = Curso.all %>
    <%= f.label :curso_id %>
    <div class="col-sm-10">
      <%= f.select :curso_id, @cursos.collect {|curso| [curso.nome, curso.id]} %>
    </div>
  </div>

  <div class="form-group">
    <% @quartos = Quarto.all %>
    <%= f.label :quarto_id %>
    <div class="col-sm-10">
      <%= f.select :quarto_id, @quartos.collect {|quarto| [quarto.numero.to_s + " - " + quarto.piso, quarto.id]} %>
    </div>
  </div>

  <div class="actions">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>
<% end %>
