<script>
    document.getElementById("menu-residentes").className = 'active';
</script>

<table>
  <tbody>
    <% @residentes.each do |residente| %>
      <tr>
          <div class="list-group row">
            <div class="col-lg-9">
              <a href="<%= residente_path(residente.id) %>" class="list-group-item">
                <i class="fa fa-fw fa-user"></i> <%= residente.nome %> &emsp;  &emsp;
                <i class="fa fa-fw fa-bed"></i> <%= residente.quarto.numero.to_s + " - " + residente.quarto.piso %>
              </a>
            </div>
            <div class="col-md-3 list-group-item" style="border: none;">
              <a class="label label-default" href="<%= edit_residente_path(residente) %>">Editar</a>
              <%= link_to t('.destroy'), residente, method: :delete, :class => 'label label-danger', data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
      </tr>

    <% end %>
    <div class="text-right">
      <a href="#">Ver todos <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </tbody>
</table>