<script>
    document.getElementById("menu-residentes").className = 'active';
</script>
<p>
  <strong>Matricula:</strong>
  <%= @residente.matricula %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @residente.nome %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @residente.curso.nome %>
</p>

<p>
  <strong>Quarto:</strong>
  <%= @residente.quarto.numero.to_s + " - " + @residente.quarto.piso %>
</p>

<%= link_to 'Edit', edit_residente_path(@residente) %> |
<%= link_to 'Back', residentes_path %>
