<!DOCTYPE html>
<html>
  <head>
    <title>Reuper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p><%= link_to "Residentes", residentes_path %>
  <%= link_to "Quartos", quartos_path %>
  <%= link_to "Cursos", cursos_path %></p>
  <p><%= link_to "Lixo - a cumprir", lixotodos_path %>
  <%= link_to "Lixo - cumprido", lixodones_path %></p>
  <p><%= link_to "ADD Lixo", populate_lixotodos_path %></p>
    <%= yield %>
  </body>
</html>
